robocode.core/src/main/resources/battleRecordS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="recordInfo">
        <xs:sequence>
            <xs:element name="rounds">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="turns">
                            <xs:complexType>
                                <xs:attribute name="value" type="xs:int" use="required"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="results">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="result">
                            <xs:complexType>
                                <xs:attribute name="teamLeaderName" type="xs:string" use="required"/>
                                <xs:attribute name="rank" type="xs:int" use="required"/>
                                <xs:attribute name="score" type="xs:decimal" use="required"/>
                                <xs:attribute name="survival" type="xs:decimal" use="required"/>
                                <xs:attribute name="lastSurvivorBonus" type="xs:decimal" use="required"/>
                                <xs:attribute name="bulletDamage" type="xs:decimal" use="required"/>
                                <xs:attribute name="bulletDamageBonus" type="xs:decimal" use="required"/>
                                <xs:attribute name="ramDamage" type="xs:decimal" use="required"/>
                                <xs:attribute name="ramDamageBonus" type="xs:decimal" use="required"/>
                                <xs:attribute name="firsts" type="xs:int" use="required"/>
                                <xs:attribute name="seconds" type="xs:int" use="required"/>
                                <xs:attribute name="thirds" type="xs:int" use="required"/>
                                <xs:attribute name="ver" type="xs:int" use="optional"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="robotCount" type="xs:int" use="required"/>
        <xs:attribute name="roundsCount" type="xs:int" use="required"/>
        <xs:attribute name="ver" type="xs:int" use="optional"/>
    </xs:complexType>

    <xs:complexType name="score">
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="t" type="xs:decimal" use="optional"/>
        <xs:attribute name="tss" type="xs:decimal" use="optional"/>
        <xs:attribute name="tls" type="xs:decimal" use="optional"/>
        <xs:attribute name="tbd" type="xs:decimal" use="optional"/>
        <xs:attribute name="tbk" type="xs:decimal" use="optional"/>
        <xs:attribute name="trd" type="xs:decimal" use="optional"/>
        <xs:attribute name="trk" type="xs:decimal" use="optional"/>
        <xs:attribute name="t1" type="xs:int" use="optional"/>
        <xs:attribute name="t2" type="xs:int" use="optional"/>
        <xs:attribute name="t3" type="xs:int" use="optional"/>
        <xs:attribute name="c" type="xs:decimal" use="required"/>
        <xs:attribute name="ss" type="xs:decimal" use="required"/>
        <xs:attribute name="bd" type="xs:decimal" use="required"/>
        <xs:attribute name="bk" type="xs:decimal" use="required"/>
        <xs:attribute name="rd" type="xs:decimal" use="required"/>
        <xs:attribute name="rk" type="xs:decimal" use="required"/>
        <xs:attribute name="ver" type="xs:int" use="optional"/>
    </xs:complexType>

    <xs:complexType name="robot">
        <xs:sequence>
            <xs:element name="sc" type="score"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:unsignedByte" use="required" />
        <xs:attribute name="ver" type="xs:int" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="sName" type="xs:string" use="optional"/>
        <xs:attribute name="vsName" type="xs:string" use="optional"/>
        <xs:attribute name="teamName" type="xs:string" use="optional"/>
        <xs:attribute name="s" type="xs:string" use="optional"/>
        <xs:attribute name="e" type="xs:decimal" use="required"/>
        <xs:attribute name="v" type="xs:decimal" use="required"/>
        <xs:attribute name="b" type="xs:decimal" use="required"/>
        <xs:attribute name="g" type="xs:decimal" use="required"/>
        <xs:attribute name="r" type="xs:decimal" use="required"/>
        <xs:attribute name="x" type="xs:decimal" use="required"/>
        <xs:attribute name="y" type="xs:decimal" use="required"/>
        <xs:attribute name="out" type="xs:string" use="optional"/>
        <xs:attribute name="h" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="bullet">
				<xs:attribute name="id" type="xs:string" use="required" />
        <xs:attribute name="ver" type="xs:int" use="optional"/>
        <xs:attribute name="state" type="xs:string" use="optional"/>
        <xs:attribute name="power" type="xs:decimal" use="optional"/>
        <xs:attribute name="color" type="xs:int" use="optional"/>
        <xs:attribute name="x" type="xs:decimal" use="required"/>
        <xs:attribute name="y" type="xs:decimal" use="required"/>
        <xs:attribute name="frame" type="xs:int" use="optional"/>
        <xs:attribute name="isExplosion" type="xs:boolean" use="optional"/>
        <xs:attribute name="explosion" type="xs:int" use="optional"/>
        <xs:attribute name="heading" type="xs:decimal" use="optional"/>
        <xs:attribute name="owner" type="xs:unsignedByte" use="optional" />
        <xs:attribute name="victim" type="xs:unsignedByte" use="optional" />
    </xs:complexType>

    <xs:complexType name="turn">
        <xs:sequence>
            <xs:element name="rs">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="r" type="robot">
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="bs">
                <xs:complexType>
                    <xs:sequence minOccurs="0">
                        <xs:element maxOccurs="unbounded" name="b" type="bullet"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="ro" type="xs:int" use="required"/>
        <xs:attribute name="tu" type="xs:int" use="required"/>
        <xs:attribute name="ver" type="xs:int" use="optional"/>
    </xs:complexType>

    <xs:complexType name="record">
        <xs:sequence>
            <xs:element name="recordInfo" type="recordInfo"/>
            <xs:element name="turn" type="turn" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="record" type="record"/>

</xs:schema>